
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap');


:root{
    --black:#000000;
    --blue:#0d4edb;
    --light:#f5f5f591;
    --red:#d33636;
    --light-blue:#f0f2f5;
    --light-gray:#e4e6eb;
    --background:#F0F2F5;
    --white:#ffffff;
    --blue-gyry:#CFD1D5;
    --search-placeholder:#a7a9aa;
}
*{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding:0;
    text-decoration: none;
    box-sizing: border-box;
    outline: none;

  

}


body{
    background-color: var(--background);
    
}
li{
    list-style: none;
}

.header{
    background-color:var(--white);
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 5px 16px;
    box-shadow: 0px 1px 3px var(--light-gray);
    position: fixed;
    width: 100%;
    z-index: 1;
}
.navbar1{
    display: flex;
}

.navbar1 .logo img{
    width: 40px;
}


.navbar1 .searchbar{
    background:var(--light-blue);
    display: flex;
    align-items: center;
    border-radius: 50px;
    width: 240px;
    margin-left: 10px;
    height: 40px;
}
.searchbar .search-form input{
    border: none;
    background: none;
    margin-left: 10px;
}

.searchbar .search-icon{
    margin-left: 13px;
}

.searchbar .search-icon i{
    font-weight: 600;
    color: #7f8183;
}






.header .searchbar input::placeholder{
    color:var(--search-placeholder);
    font-size: 16px;
}


.header .navbar{
    display: flex;
    margin-right: auto;
    margin-left: 50px;    
}

.header .navbar i{
    position: relative;
    color:#949599;
    font-size: 23px;
    display: block;
    border: 1px solid transparent;
    background: blue;
    display: block;
    background: none;
    padding: 10px 46px;
    cursor: pointer;
}






.header .navbar i:after{
    content: "";
    position:absolute;

    background-color:blue;
    height: 3px;
    left: 0;
    bottom: -8px;
    width: 0; 
}

.header .navbar i:active:after{
    width: 100%;
}
 .navbar .Home , .Watch , .Marketplace , .Gaming , .Groups , .More{
    position: relative;
}

.navbar .More  , .category  .create {
    display: none;
}




.header .navbar  span{
    top: 53px;
    left: 31px;
    text-align: center;
    width: 55px;
    position: absolute;
    background: black;
    border-radius: 9px;
    color: white;
    height: 34px;
    padding-top: 11px;
    visibility: hidden;
    font-size: 12px;
}

.header .navbar .Marketplace span{
    width: 80px;
    left: 19px;
}

.header .navbar .nav:hover span {
    visibility: visible;
 
}



.header .navbar i:hover{
    background:#f2f2f2;
    border-radius: 10px;
    
}


.header .navbar i:active{
background: blue;
}
.header .category{
    display: flex;
    align-items: center;
    font-size: 22px;
    padding-left: 8px;
}

.header .category .subcategory{
    background: #f2f2f2;
    border-radius: 40px;
    margin-left: 14px;

}
.header .category .subcategory p{
    padding: 1px 6px;
    position: absolute;
    background: #ed1e45;
    border-radius: 50px;
    top: -5px;
    font-size: 15px;
    left: 29px;
    color: white;
}


.header .category .subcategory i{  
    padding: 11px;
    font-size: 18px;
}
.header .category .id-img{
    margin-left: 14px;
}

.header .category img{
    width: 39px;
    height: 39px;
    border-radius: 50px;
    margin-top: 1px;
}


.header .menu , .messenger, .notification, .id-img , .create{
    position: relative; 
}

.header .category .subcategory  span { 
    top: 49px;
    right: -18px;
    text-align: center;
    width: 64px;
    position: absolute;
    background: black;
    border-radius: 10px;
    color: white;
    height: 34px;
    padding-top: 8px;
    visibility: hidden;
    font-size: 13px;
}

.header .category .id-img span{
    top: 53px;
    right: -13px;
    text-align: center;
    width: 64px;
    position: absolute;
    background: black;
    border-radius: 10px;
    color: white;
    height: 34px;
    padding-top: 8px;
    visibility: hidden;
    font-size: 13px;
}
.header .category .subcategory:hover span , .header .category .id-img:hover span{ 
    visibility: visible;
}



/* main section start */
.main-section{
    display: flex;
    padding-top: 60px;
}

/* side bar section start */

.left-side-bar {
    margin-left: 20px;
    width: 285px;
    position: fixed;

}
.side-bar .id img{
    width: 28px;
    height: 28px;
    border-radius: 50px;
    margin-left: 8px;
}



.side-bar li:hover{
    background: rgb(231, 230, 228);
    border-radius: 10px;
}
.side-bar li a{
    display: flex;
    padding: 10px 0;
}


.side-bar .i img{
    width: 28px;
    height: 28px;
    margin-left: 8px;
}

.side-bar li a div{
        padding-left: 13px;
        margin-top: 6px;
        font-weight: 600;
        color:  #373636;
}




 .scroller{
    overflow-y: scroll;
    scrollbar-color: #663399 #008000;
    scrollbar-width:thin;
    height: 86vh;
  }
  #scroll::-webkit-scrollbar-track
  {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      border-radius: 30px;
      background-color: #F5F5F5;
  }
  
  #scroll::-webkit-scrollbar
  {
      width: 6px;
      background-color: #F5F5F5;
      display: none;
  }
  .left-side-bar:hover#scroll::-webkit-scrollbar{
    display: block;
  }
  .right-bar-section:hover#scroll::-webkit-scrollbar{
    display: block;
  }
  #scroll::-webkit-scrollbar-thumb
  {
      border-radius: 30px;
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
      background-color: #8f8f8f;
  }


  .side-bar i{
        width: 40px;
        width: 33px;
        font-size: 21px;
        background: rgb(209, 209, 211);
        height: 33px;
        padding-left: 7px;
        padding-top: 6px;
        border-radius: 18px;
        margin-left: 5px;
  }


  .main-section .left-side-bar .more , .main-section .left-side-bar .see{
    display: flex;
    cursor: pointer;
    padding: 10px 0;
  }




  .main-section .left-side-bar .see a i , .main-section .left-side-bar .see-more i{
    width: 33px;
    font-size: 19px;
    background: rgb(209, 209, 211);
    height: 33px;
    padding-left: 8px;
    padding-top: 7px;
    border-radius: 19px;
    margin-left: 4px;
    
 }


 .main-section .left-side-bar .see  h4, .main-section .left-side-bar .more h4{
    padding-left: 13px;
    padding-top: 6px;
    color: gray;
 }
  .main-section .left-side-bar .see-less{
    display: none;
  }

  .main-section .left-side-bar .see-less.active{
    display: block;
  }

  .main-section .left-side-bar .overflow-btn{
    display: none;
  }
  .main-section .left-side-bar .overflow-btn.active{
    display: block;
  }


  .left-side-bar .your-shortcut{
    border-top: 1px solid gray;
    width: auto;
    margin-top: 16px;
  }

  .left-side-bar .your-shortcut .shortcut{
    display: flex;
    justify-content: space-between;
  }
  .left-side-bar .your-shortcut .shortcut h3{
    padding-top: 19px;
    padding-bottom: 10px;
  }
  .left-side-bar .your-shortcut .shortcut a{
        color: rgb(70, 6, 247);
        padding: 5px;
        display: none;
        margin-top: 20px;
  }

  .left-side-bar .shortcut  a:hover{
    background-color: gainsboro;
  }
  .left-side-bar .your-shortcut:hover a{
    display: block;


  }

  .left-side-bar .your-shortcut .offical{
    padding: 8px 6px;
    display: flex;
    align-items: center;
    border-radius: 15px;
  }

  .left-side-bar .your-shortcut .offical:hover{
    background: rgb(230, 227, 227);
  }



  .left-side-bar .your-shortcut .offical img{
    width: 30px ;
    height: 30px;
    border-radius: 50px;
  }

  .left-side-bar .your-shortcut .offical .p{
    padding: 6px 13px;
    color: black;
  }

  .left-side-bar .your-shortcut .meta{
    font-size: 14px;
    padding-top: 12px;
    display: flex;
    flex-wrap: wrap;
  }

  .left-side-bar .your-shortcut .meta a{
    color: gray;
  }









/* side bar section end */



/* story section start */

.mid-section{
    padding-top: 23px;
    width: 541px;
    margin: auto;
    padding-right: 31px;
}

.section-start{
    background: white;
    border-radius: 20px;
}
.stories-section{
    display: flex;
    border-bottom: 1px solid gray;

}
.stories-section .btn{
    padding: 8px 20px;
    cursor: pointer;
}

.stories-section .btn p{
    height: 53px;
    width: 130px;
    padding: 17px 43px;
}


.stories-section .btn p:hover{
    border-radius: 15px;
    background:var(--light-gray);

}


.create-story{
    width: 112px;
    height: 200px;
    border-radius: 4px;
    background: white;

}

.create-story .story-img{
    overflow: hidden;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    cursor: pointer;
    object-fit: cover;
}

.create-story .story-img img{
    width: 112px;
    height: 154px;
    transition: transform 0.5s;
    cursor: pointer;
    object-fit: cover;

}
.create-story .story-img:hover img{
    transform: scale(1.1);
    
}

.create-story .button{
    position: relative;
    border-bottom-right-radius: 15px;
    border-bottom: 1px solid #b8b8bd;  
      border-bottom-left-radius: 15px;
      cursor: pointer;
}

.create-story .story-btn i{
    border-radius: 50px;
    background:blue;
    width: 30px;
    height: 30px;
    padding: 8px;
    outline: 3px solid white;
    position: absolute;
    left: 38px;
    top: -22px;
    color: white;
}

.story{
    position: relative;
    margin-left: 11px;
}

.story-section .p{
    padding: 13px;
}

.story-section{
    display: flex;
    padding: 15px;
} 

 .story .story-thumb{
   border-radius: 15px;
    overflow: hidden;
 }


 
.story .story-thumb img{
    height: 202px;
   width:112px ; 
    cursor: pointer;
   transition: transform 0.5s;
   object-fit: cover;
}

.story .story-thumb img:hover{
    transform: scale(1.1);
}



.story .story-profile img{
    width: 28px;
    height: 28px;
    border-radius: 50px;
    outline: 3px solid blue;
    cursor: pointer;
    object-fit: cover;
}

.story .story-profile{
    position: absolute;
    top: 12px;
    left: 15px;
}

.story .story-name{
    position: absolute;
    top: 180px;
    left: 15px;
}
.story .story-name p{
    color: white;
    font-size: 17px;
}

/* story section end  */



/* tweet section start */

.tweet-section{
    background: white;
    border-radius: 15px;
    display: flex;
    margin-top:15px;
}

.tweet-section .profile{
    display: flex;
     margin-left: 17px;
    border-bottom: 1px solid;
    margin-top: 13px;
    padding-bottom: 13px;
    cursor: pointer;
}

.tweet-section .profile .comment-form input{
    padding: 12px;
    width: 415px;
    background:#f0f2f5;
    border: none;
    border-radius: 15px;
    margin-left: 10px;
}
.tweet-section .profile .comment-form input::placeholder{
    font-size: large;
}

.tweet-section .profile img{
    width: 40px;
    height: 40px;
    border-radius: 50px;
}



.tweet-section .activity-section{
    display: flex;
    margin-left: 33px;
    cursor: pointer;
}

.tweet-section .activity-section .live{
    padding: 18px;
}

.tweet-section .activity-section .live i{
    padding-right: 13px;
    font-size: 21px;
}
.tweet-section .activity-section .live .fa-video  {
    color: red;
}

.tweet-section .activity-section .live .fa-photo-film{
    color: green;
}

.tweet-section .activity-section .live .fa-face-smile{
    color: orange;
}
/* tweet section end  */


/* post section start */
.post-section{
    background: white;
    margin-top: 16px;
    border-radius: 15px;

}



.post-info{
    display: flex;
    padding: 18px;
}


.post-section .post-info .profile-img img{
    width: 45px;
    height: 45px;
    border-radius: 50px;
}

.post-section .post-info .profile-img{
    cursor: pointer;
}

.post-section .post-info .user-info{
    margin-top: -52px;
    margin-left: 59px;
}

.post-section .post-info .name{
    font-weight: 700;
}
.post-section .post-info .user-info .date{
    margin-top: 1px;
    font-weight: 400;
}
.post-section .post-info  .dots-more{
    padding: 3px 6px;
    width: 27px;
    height: 27px;
    border-radius: 50px;
    margin-left: 240px;
}

.post-section .post-info  .dots-more:hover{
    background: rgb(229, 226, 226);

}
.post-section .tag ul{
    display: flex;
    flex-wrap: wrap;
}
.post-section .tag {
    padding: 4px 22px;
}



.post-section .img-post img{
    object-fit: cover;
    height: auto;
    width: 100%;
}


.post-section .share-btn{
    border-bottom: 1px solid;
    color: #b8b8bd;
    padding: 6px 8px;
}

.post-section .share-btn .like span{
    cursor: pointer;
}


.post-section .share-btn .like-btn i{
color:  #3b0fe3;
cursor: pointer;

}
.post-section .share-btn .smile-btn i{
color: #feaa10;
cursor: pointer;

}

.post-section .comment-section{
    display: flex;
    margin-top: 7px;
}

.post-section .comment-section .comment{
    padding: 9px 35px;
    margin-left: 13px;
    font-size: 20px;
    border-radius: 5px;
    color: rgb(95, 95, 94);
    margin-bottom: 7px;
}

.post-section .comment-section .comment:hover{
    background: #efefef;

}
.post-section .comment-section .comment i{
    padding-right: 9px;
    font-size: 21px;
    color: rgb(95, 95, 94);
}

.see-more-post ,.see-less-post{
    cursor: pointer;
}


.overflow-btn-post , .see-less-post{
    display: none;
}

.overflow-btn-post.active, .see-less-post.active{
    display: block;
}



/* post section end  */



/* right bar section start */

 .right-bar-section{
    width: 432px;
    padding-left: 140px;
    padding-top: 26px;
    position: fixed;
    right: 0px;
 }


 .right-bar-section .birthday{
    padding: 7px 10px 29px;
 }



 .right-bar-section .birthday span{
    font-size: 20px;
    font-weight: initial;
    color: gray;
 }

 .right-bar-section .birthday .notification{
    padding-top: 17px;
    display:flex;
    border-bottom: 1px solid;
 }

 .right-bar-section .birthday .notification .gift-icon{
    color: blue;
 }
 .right-bar-section .birthday .notification p{
    padding-left: 20px;
    margin-bottom: 28px;
 }


 .right-bar-section .content-info{
    display: flex;
 }
 .right-bar-section .content-info .content{
    color: black;
    font-size: 22px;
    font-weight: 600;
 }

 .right-bar-section .content-info .content-icons{
    padding-left: 84px;
    display: flex;
    cursor: pointer;

 }
  .right-bar-section .content-info .content-icons .icons i{
    width: 29px;
    border-radius: 50px;
    margin-left: 12px;
    height: 29px;
    padding: 6px;

  }
  .right-bar-section .content-info .content-icons .icons i:hover{
    background: rgb(230, 227, 227);

  }

  .right-bar-section .content-info .content-icons .icons span{
    display: none;
    top: 31px;
    left: 50px;
    background:var(--black);
    padding: 9px 18px;
    border-radius: 8px;
    font-size: 13px;
    color: white;
    
  }

  .right-bar-section .content-info .content-icons .icons:hover span   {
    display: block;
  }

.right-bar-section .content-info .content-icons .video , .right-bar-section .content-info .content-icons .search , .right-bar-section .content-info .content-icons .option{
    position: relative;
  }

  .right-bar-section .content-info .content-icons .video span{
    position: absolute;
    top: 28px;
    left: -24px;
  }
  .right-bar-section .content-info .content-icons .search span{
    position: absolute;
    left: -142px;
    top: 28px;
    width: 181px;
    padding: 9px 14px;
    padding-right: 8px;
  }
  
  .right-bar-section .content-info .content-icons .option span{
    position: absolute;
    left: -27px;
    top: 28px;
  }






 .right-bar-section .online-content ul li a img{
    width: 28px;
    height: 28px;
    border-radius: 50px;
    margin-left: 8px;
 }

 
 .right-bar-section .online-content ul li:hover{
    background: rgb(231, 230, 228);
    border-radius: 10px;

 }



 .right-bar-section .online-content ul a{
    display: flex;
    padding: 10px 0;
 }

 .right-bar-section .online-content ul a div{
    padding-left: 13px;
    margin-top: 1px;
    font-weight: 600;
    color:  #373636;
 }
 










/* right bar section end */




/* main section end  */































/* media querry */
@media(max-width:1260px){
    .header .searchbar .search-form{
        display: none;
    }
    .header .searchbar{
        width: 40px;
    }
}

@media(max-width:1099px){
     .navbar .Gaming , .category .menu {
        display: none;
    }
    .navbar .More, .category .create{
        display: block;
    }
    .main-section .left-side-bar{
        display: none;
    }
    .mid-section{
        margin-right: auto;
        margin-left: 142px;
    }
}

@media(max-width:700px){
    .header  .Home , .Watch ,.Marketplace ,.Groups ,.Gaming{
        display: none;
    }
    

  
}

@media(max-width:996px){
    .header .navbar i{
        padding: 10px 40px;
    }
   

}

@media(max-width:980px){
   
    .mid-section{
        margin-left: 106px;
    }

}
@media(max-width:957px){
   
    .mid-section{
        margin-left: 77px;
    }

}

@media(max-width:905px){
   
    .mid-section{
        margin: auto;
        padding-right: 0;
    }
    .right-bar-section{
        display: none;
    }

}




@media(max-width:932px){
    .header .navbar i{
        padding: 10px 35px;
    }
}
@media(max-width:1000px){
    .header .navbar i{
        padding: 10px 30px;
    }
    .header .navbar  span{
        left: 16px;
    }
    .header .navbar .Marketplace span{
        left: 5px;
    }
}
@media(max-width:830px){
    .header .navbar i{
        padding: 10px 25px;
    }
    .header .navbar  span{
        left: 12px;
    }
    .header .navbar .Marketplace span{
        left: 0px;
    }
}

@media(max-width:781px){
    .header .navbar i{
        padding: 10px 20px;
    }
    .header .navbar  span{
        left: 7px;
    }
    .header .navbar .Marketplace span{
        left: -6px;
    }
}
@media(max-width:735px){
    .header .navbar i{
        padding: 10px 15px;
    }
    .header .navbar  span{
        left: 0px;
    }
    .header .navbar .Marketplace span{
        left: -10px;
    }
}